<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="character-list"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Base stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Tab 2</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->



  Base Stats here...
</ion-content>
